body {
  font-size: 20px;
  background-color: $gray-800;
  color: $gray-200;
  @include serif-font;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

code {
  color: #a6e22e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  font-weight: 800;
  @include sans-serif-font;
}

a {
  color: $gray-300;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
  & i {
    color: $gray-600;
  }
}

hr {
  border-top: 1px solid $gray-400;
}

pre {
  color: $gray-300;
}

blockquote {
  font-style: italic;
  color: $gray-500;
  background-color: $gray-700;
  padding: 0.25em;
  border-left: 10px solid $gray-500;
  margin: 24px 0;

  p {
    margin: 0;
  }
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.padded-img {
  padding: 0.5rem;
}

pre.highlight {
  margin: 0;
  padding: 1rem;
}